fastapi
starlette
authlib
httpx
aiohttp-session
itsdangerous
uvicorn[standard]
fastapi-pagination
pydantic-settings
python-multipart
toml
jupyterhub
aiodocker
dockerspawner
jupyterhub-kubespawner
binderhub @ git+https://github.com/RCOSDP/CS-binderhub.git#egg=binderhub
